<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLgE-y1a9yoxBeHQbmd_pXhJB_JZ7-EKs</string>
	<key>GCM_SENDER_ID</key>
	<string>347139710425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otp.so</string>
	<key>PROJECT_ID</key>
	<string>otp24-a8551</string>
	<key>STORAGE_BUCKET</key>
	<string>otp24-a8551.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347139710425:ios:3ffff938e05f02ac598dc8</string>
</dict>
</plist>